<tabset>
    <tab heading="{{ 'idea' | lang: 'ui/tabs'; }}" ng-click="toggleTopTab('idea')" select="setCurTab('idea')">
        <undo-redo editor="editor"></undo-redo>
        <append-node minder="minder"></append-node>
        <arrange minder="minder"></arrange>
        <operation minder="minder"></operation>
        <hyper-link minder="minder"></hyper-link>
    </tab>
    <tab heading="{{ 'appearence' | lang: 'ui/tabs'; }}" ng-click="toggleTopTab('appearance')" select="setCurTab('appearance')">
        <font-operator minder="minder" class="inline-directive"></font-operator>
        <style-operator minder="minder" class="inline-directive"></style-operator>
    </tab>
    <tab heading="{{ 'label' | lang: 'ui/tabs'; }}" ng-click="toggleTopTab('label')" select="setCurTab('label')">
        <priority-editor minder="minder"></priority-editor>
        <progress-editor minder="minder"></progress-editor>
    </tab>
    <tab heading="{{ 'view' | lang: 'ui/tabs'; }}" ng-click="toggleTopTab('view')" select="setCurTab('view')">
        <template-list minder="minder" class="inline-directive"></template-list>
        <theme-list minder="minder"></theme-list>
        <layout minder="minder" class="inline-directive"></layout>
        <expand-level minder="minder"></expand-level>
        <select-all minder="minder"></select-all>
        <search-btn minder="minder"></search-btn>
    </tab>
</tabset>